Repository UOS-CONNECTION/UOS-CONNECTION, pull requests merged in 2022-05, with the labels that each got.

#38 [Fix] body-parser 안먹는 에러 해결
  backend/src/app.ts
Labels: 🧨 ISSUE, 🚨 High

#37 [게시글 작성 페이지]
  frontend/src/Component/PostWrite/PostWriteBox.tsx
  frontend/src/Component/PostWrite/PostWriteHeader.tsx
  frontend/src/Component/PostWrite/index.tsx
  frontend/src/Page/PostWritePage.tsx
  frontend/src/Page/index.ts
  frontend/src/Routes/index.tsx
  frontend/src/Util/HelperType.ts
  frontend/src/scss/PostWritePage.scss
  frontend/src/scss/component/_postWriteBox.scss
  frontend/src/scss/component/_postWriteHeader.scss
Labels: 🎄 Frontend, 🎨 Design

#41 개별 Post 받아오는 API & Eslint Airbnb & Prettier
  backend/.eslintignore
  backend/.eslintrc
  backend/.prettierrc
  backend/.vscode/settings.json
  backend/package.json
  backend/src/app.ts
  backend/src/controllers/chat.controller.ts
  backend/src/controllers/post.controller.ts
  backend/src/controllers/temp.controller.ts
  backend/src/controllers/user.controller.ts
  backend/src/db/repositories/post.repository.ts
  backend/src/db/repositories/user.repository.ts
  backend/src/index.ts
  backend/src/routes/post.router.ts
  backend/src/types/user-type.ts
  backend/src/utils/crypto.ts
  backend/src/utils/passport.ts
  backend/yarn.lock
Labels: 🏠 Backend, 🐬 Middle

#44 프론트엔드 린트 및 오류 해결
  frontend/.eslintrc.json
  frontend/.prettierrc
  frontend/package.json
  frontend/src/Component/About/DeveloperCard.tsx
  frontend/src/Component/Banner/BannerSlider.tsx
  frontend/src/Component/Banner/index.tsx
  frontend/src/Component/Chat/ChatCard.tsx
  frontend/src/Component/Chat/ChatDetail.tsx
  frontend/src/Component/Chat/ChatList.tsx
  frontend/src/Component/Chat/ChatPerson.tsx
  frontend/src/Component/Detail/DetailCard.tsx
  frontend/src/Component/Detail/InfomationCard.tsx
  frontend/src/Component/Detail/index.tsx
  frontend/src/Component/Header/index.tsx
  frontend/src/Component/Layout/index.tsx
  frontend/src/Component/Login/EasyLogin.tsx
  frontend/src/Component/Login/LoginForm/LoginInput.tsx
  frontend/src/Component/Login/LoginForm/index.tsx
  frontend/src/Component/Main/Filter/LocationFilter.tsx
  frontend/src/Component/Main/Filter/MannerFilter.tsx
  frontend/src/Component/Main/Filter/SortFilter.tsx
  frontend/src/Component/Main/Filter/TagFilter.tsx
  frontend/src/Component/Main/Filter/index.tsx
  frontend/src/Component/Main/ShareCard.tsx
  frontend/src/Component/Main/ShareTab.tsx
  frontend/src/Component/Main/index.tsx
  frontend/src/Component/MyPageContent/DetailMyWrite.tsx
  frontend/src/Component/MyPageContent/MyBasicInfo.tsx
  frontend/src/Component/MyPageContent/TabPanel.tsx
  frontend/src/Component/PostWrite/PostWriteHeader.tsx
  frontend/src/Component/PostWrite/index.tsx
  frontend/src/Component/Signup/SignupForm/Agree.tsx
  frontend/src/Component/Signup/SignupForm/Email.tsx
  frontend/src/Component/Signup/SignupForm/Nickname.tsx
  frontend/src/Component/Signup/SignupForm/Password.tsx
  frontend/src/Component/Signup/SignupForm/PasswordCheck.tsx
  frontend/src/Component/Signup/SignupForm/SignupButton.tsx
  frontend/src/Component/Signup/SignupForm/index.tsx
  frontend/src/Routes/index.tsx
  frontend/src/Store/Action/postAction.ts
  frontend/src/Store/Reducer/postReducer.ts
  frontend/src/Store/Reducer/userReducer.ts
  frontend/src/Store/index.ts
  frontend/src/Store/type.ts
  frontend/src/Util/Constant.ts
  frontend/src/Util/dateConvert.ts
  frontend/src/Util/summary.ts
  frontend/src/scss/component/_header.scss
  frontend/yarn.lock
Labels: 🎄 Frontend, 🔥 Chore

#46 로그인 유지 코드 가이드라인
  frontend/src/Component/About/DeveloperCard.tsx
  frontend/src/Component/Chat/ChatDetail.tsx
  frontend/src/Component/Chat/ChatList.tsx
  frontend/src/Component/Chat/ChatPerson.tsx
  frontend/src/Component/Chat/index.tsx
  frontend/src/Component/Detail/DetailCard.tsx
  frontend/src/Component/Detail/InfomationCard.tsx
  frontend/src/Component/Detail/index.tsx
  frontend/src/Component/Login/LoginForm/index.tsx
  frontend/src/Component/Main/ShareCard.tsx
  frontend/src/Component/Main/ShareTab.tsx
  frontend/src/Component/Main/index.tsx
  frontend/src/Component/MyPageContent/DetailMyWrite.tsx
  frontend/src/Component/Signup/index.tsx
  frontend/src/Hook/useChatList.ts
  frontend/src/Store/Action/postAction.ts
  frontend/src/Store/Action/userAction.ts
  frontend/src/Store/Reducer/userReducer.ts
  frontend/src/Store/type.ts
  frontend/src/Types/Type.ts
  frontend/src/Types/UserType.ts
  frontend/src/Util/SocketAPI.ts
  frontend/src/index.tsx
Labels: 🎄 Frontend

#45 카카오 redirect 및 callback 기능 구현
  backend/package.json
  backend/src/controllers/user.controller.ts
  backend/src/routes/user.router.ts
  backend/src/utils/passport.ts
  backend/yarn.lock
  frontend/src/Component/Login/EasyLogin.tsx
  frontend/src/Page/KakaoCallbackPage.tsx
  frontend/src/Page/index.ts
  frontend/src/Routes/index.tsx
Labels: 🎄 Frontend, 🏠 Backend, 🐬 Middle

#47 백엔드 ESlint 설정
  backend/.eslintrc
  backend/src/app.ts
  backend/src/controllers/chat.controller.ts
  backend/src/controllers/post.controller.ts
  backend/src/controllers/user.controller.ts
  backend/src/db/entities/user.entity.ts
  backend/src/routes/chat.router.ts
  backend/src/routes/post.router.ts
  backend/src/routes/user.router.ts
  backend/src/types/user-type.ts
  backend/src/utils/crypto.ts
  backend/src/utils/passport.ts
  frontend/src/Component/Main/ShareTab.tsx
Labels: 🏠 Backend, 🔥 Chore

#48 [회원가입 연동]
  backend/.eslintrc
  backend/src/controllers/user.controller.ts
  backend/src/db/entities/chat.entity.ts
  backend/src/db/entities/post.entity.ts
  backend/src/db/entities/user.entity.ts
  backend/src/routes/user.router.ts
  frontend/src/Component/Login/EasyLogin.tsx
  frontend/src/Component/Signup/SignupForm/index.tsx
  frontend/src/Page/KakaoCallbackPage.tsx
  frontend/src/Store/Action/userAction.ts
  frontend/src/Store/Reducer/userReducer.ts
  frontend/src/Store/type.ts
  frontend/src/Types/UserType.ts
Labels: 🏠 Backend

#51 프론트 환경변수 설정
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/package.json
  frontend/src/Component/Login/EasyLogin.tsx
  frontend/yarn.lock
Labels: 🎄 Frontend, 🐞 Low

#50 게시글 작성 Api 연동
  backend/src/controllers/post.controller.ts
  backend/src/db/entities/post.entity.ts
  backend/src/routes/post.router.ts
  frontend/package.json
  frontend/src/Component/PostWrite/PostWriteBox.tsx
  frontend/src/Component/PostWrite/PostWriteHeader.tsx
  frontend/src/Component/PostWrite/index.tsx
  frontend/yarn.lock
Labels: 🔥 Chore

#49 Post Api User 정보 포함 개선
  backend/.eslintrc.json
  backend/src/controllers/post.controller.ts
  backend/src/db/repositories/post.repository.ts
Labels: 🏠 Backend
