Repository UOS-CONNECTION/UOS-CONNECTION, pull requests merged in 2022-03, with the labels that each got.

#19 채팅 관련 백엔드 기본 설정 및 프론트 엔드 소켓 적용
  backend/ormconfig.ts
  backend/package.json
  backend/src/app.ts
  backend/src/controllers/chat.controller.ts
  backend/src/routes/chat.router.ts
  backend/src/routes/index.ts
  backend/src/utils/socket.ts
  backend/src/utils/temp.data.ts
  backend/yarn.lock
  frontend/package.json
  frontend/src/Component/Chat/ChatCard.tsx
  frontend/src/Component/Chat/ChatDetail.tsx
  frontend/src/Component/Chat/ChatList.tsx
  frontend/src/Component/Chat/ChatPerson.tsx
  frontend/src/Component/Chat/index.tsx
  frontend/src/Util/Type.ts
  frontend/src/scss/component/_chatdetail.scss
  frontend/yarn.lock
Labels: 🏠 Backend, 🐬 Middle

#21 유틸 함수 클래스화 및 TypeORM 보일러 플레이트 코드 작성
  backend/README.md
  backend/ormconfig.ts
  backend/src/app.ts
  backend/src/controllers/chat.controller.ts
  backend/src/db/entities/chat.entity.ts
  backend/src/db/entities/chat.message.entity.ts
  backend/src/db/entities/post.entity.ts
  backend/src/db/entities/user.entity.ts
  backend/src/db/entities/user.info.entity.ts
  backend/src/db/index.ts
  backend/src/db/repositories/user.repository.ts
  backend/src/entities/user.entity.ts
  backend/src/index.ts
  backend/src/repositories/user.repository.ts
  backend/src/utils/socket.ts
Labels: 🏠 Backend, 🔥 Chore

#23 [Refactor] 로그인 페이지 리팩토링
  frontend/src/Component/Login/EasyLogin.tsx
  frontend/src/Component/Login/LoginForm/LoginButton.tsx
  frontend/src/Component/Login/LoginForm/LoginInput.tsx
  frontend/src/Component/Login/LoginForm/index.tsx
  frontend/src/Component/Login/LoginOuterLink.tsx
  frontend/src/Component/Login/index.tsx
Labels: 🎄 Frontend, 🔨 Refactor

#24 로그인 관련 컨트롤러와 유틸 함수 작성
  backend/ormconfig.ts
  backend/package-lock.json
  backend/package.json
  backend/src/app.ts
  backend/src/controllers/login.controller.ts
  backend/src/controllers/user.controller.ts
  backend/src/entities/user.entity.ts
  backend/src/repositories/user.repository.ts
  backend/src/routes/user.router.ts
  backend/src/utils/crypto.ts
  backend/src/utils/passport.ts
  backend/yarn.lock
  frontend/package-lock.json
Labels: 🏠 Backend, 🐬 Middle

#26 [Docs] backend REAMDE 데이터베이스 명령어 업데이트
  backend/README.md
Labels: 🏠 Backend, 📔 Docs

#27 [Chore] 데이터베이스 컬럼 업데이트
  backend/src/db/entities/chat.entity.ts
  backend/src/db/entities/chat.message.entity.ts
  backend/src/db/entities/post.entity.ts
  backend/src/db/entities/user.entity.ts
  backend/src/db/entities/user.info.entity.ts
Labels: 🏠 Backend, 🔥 Chore

#25 채팅 렌더링 개선 및 소개 페이지 배너 제거
  backend/src/utils/temp.data.ts
  frontend/src/Component/Chat/ChatCard.tsx
  frontend/src/Component/Chat/ChatDetail.tsx
  frontend/src/Component/Chat/index.tsx
  frontend/src/Hook/useChatList.ts
  frontend/src/Page/AboutPage.tsx
  frontend/src/Util/Constant.ts
  frontend/src/scss/component/_about.scss
  frontend/src/scss/component/_chatdetail.scss
  frontend/src/scss/component/_chatlist.scss
  frontend/src/scss/component/_detailCard.scss
Labels: 🎄 Frontend, 🔨 Refactor

#29 채팅 페이지 스켈레톤 콤포넌트 적용 및 분리
  frontend/src/Component/Chat/ChatDetail.tsx
  frontend/src/Component/Chat/ChatList.tsx
  frontend/src/Component/Chat/ChatSkeleton.tsx
  frontend/src/Component/Chat/index.tsx
  frontend/src/Component/Header/index.tsx
  frontend/src/Util/Constant.ts
  frontend/src/scss/component/_chatdetail.scss
  frontend/src/scss/component/_chatlist.scss
Labels: 🎄 Frontend, 🎨 Design, 🐬 Middle

#31 [Refactor] socket refactor
  backend/src/app.ts
  backend/src/controllers/socket/socket.chat.controller.ts
  backend/src/types/socket-type.ts
  backend/src/utils/socket.ts
  frontend/src/Component/Chat/ChatDetail.tsx
  frontend/src/Component/Chat/ChatList.tsx
  frontend/src/Component/Chat/index.tsx
  frontend/src/Hook/useChatList.ts
  frontend/src/Util/Constant.ts
  frontend/src/Util/SocketAPI.ts
  frontend/src/Util/Type.ts
Labels: 🏠 Backend, 🔨 Refactor

#30 typeORM 데이터베이스 연동
  backend/ormconfig.ts
  backend/src/db/entities/chat.entity.ts
  backend/src/db/entities/chat.message.entity.ts
  backend/src/db/entities/post.entity.ts
  backend/src/db/entities/user.entity.ts
  backend/src/db/entities/user.info.entity.ts
  backend/src/db/repositories/user.repository.ts
  backend/src/utils/passport.ts
Labels: 🏠 Backend, 🔥 Chore
