Repository UOS-CONNECTION/UOS-CONNECTION, pull requests merged in 2022-02, with the labels that each got.

#5 [Chore] Frontend 기본 폴더 구성
  frontend/package.json
  frontend/src/Component/Header/index.tsx
  frontend/src/Component/Layout/index.tsx
  frontend/src/Hook/useTemp.ts
  frontend/src/Page/MainPage.tsx
  frontend/src/Page/index.ts
  frontend/src/Routes/index.tsx
  frontend/src/Store/Action/userAction.ts
  frontend/src/Store/Reducer/index.ts
  frontend/src/Store/Reducer/userReducer.ts
  frontend/src/Store/index.ts
  frontend/src/Util/Constant.ts
  frontend/src/scss/MainPage.scss
  frontend/src/scss/base/_base.scss
  frontend/src/scss/base/_mixin.scss
  frontend/src/scss/base/_variable.scss
  frontend/src/scss/component/_header.scss
  frontend/yarn.lock
Labels: 🎄 Frontend, 🔥 Chore

#7 메인 페이지 디자인 초안
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_requeset.md
  frontend/package.json
  frontend/public/img/logo_long.png
  frontend/src/App.tsx
  frontend/src/Component/Banner/index.tsx
  frontend/src/Component/Header/index.tsx
  frontend/src/Component/Layout/index.tsx
  frontend/src/Component/Main/Filter/LocationFilter.tsx
  frontend/src/Component/Main/Filter/MannerFilter.tsx
  frontend/src/Component/Main/Filter/SortFilter.tsx
  frontend/src/Component/Main/Filter/TagFilter.tsx
  frontend/src/Component/Main/Filter/index.tsx
  frontend/src/Component/Main/ShareCard.tsx
  frontend/src/Component/Main/ShareTab.tsx
  frontend/src/Component/Main/index.tsx
  frontend/src/Page/MainPage.tsx
  frontend/src/Page/index.ts
  frontend/src/Routes/index.tsx
  frontend/src/Util/Constant.ts
  frontend/src/Util/TempData.ts
  frontend/src/Util/Type.ts
  frontend/src/scss/MainPage.scss
  frontend/src/scss/base/_base.scss
  frontend/src/scss/component/_filter.scss
  frontend/src/scss/component/_header.scss
  frontend/src/scss/component/_layout.scss
  frontend/src/scss/component/_mainBanner.scss
  frontend/src/scss/component/_shareCardTab.scss
  frontend/yarn.lock
Labels: 🎄 Frontend, 🎨 Design

#9 상세 페이지 제작
  frontend/src/Component/Detail/DetailCard.tsx
  frontend/src/Component/Detail/InfomationCard.tsx
  frontend/src/Component/Detail/index.tsx
  frontend/src/Page/DetailPage.tsx
  frontend/src/Page/index.ts
  frontend/src/Routes/index.tsx
  frontend/src/Util/Constant.ts
  frontend/src/Util/TempData.ts
  frontend/src/Util/Type.ts
  frontend/src/scss/DetailPage.scss
  frontend/src/scss/component/_detailCard.scss
  frontend/src/scss/component/_filter.scss
  frontend/src/scss/component/_header.scss
  frontend/src/scss/component/_infomation.scss
  frontend/src/scss/component/_shareCardTab.scss
Labels: 🎄 Frontend, 🎨 Design

#11 로그인/회원가입 페이지 디자인 초안
  frontend/public/img/google.ico
  frontend/public/img/kakao.svg
  frontend/public/img/naver.ico
  frontend/src/Component/Login/EasyLogin.tsx
  frontend/src/Component/Login/LoginForm/LoginButton.tsx
  frontend/src/Component/Login/LoginForm/LoginInput.tsx
  frontend/src/Component/Login/LoginForm/index.tsx
  frontend/src/Component/Login/LoginOuterLink.tsx
  frontend/src/Component/Login/index.tsx
  frontend/src/Component/Main/Filter/LocationFilter.tsx
  frontend/src/Component/Main/Filter/index.tsx
  frontend/src/Component/Main/ShareTab.tsx
  frontend/src/Component/Signup/SignupForm/Agree.tsx
  frontend/src/Component/Signup/SignupForm/Email.tsx
  frontend/src/Component/Signup/SignupForm/Nickname.tsx
  frontend/src/Component/Signup/SignupForm/Password.tsx
  frontend/src/Component/Signup/SignupForm/PasswordCheck.tsx
  frontend/src/Component/Signup/SignupForm/SignupButton.tsx
  frontend/src/Component/Signup/SignupForm/index.tsx
  frontend/src/Component/Signup/index.tsx
  frontend/src/Page/LoginPage.tsx
  frontend/src/Page/SignupPage.tsx
  frontend/src/Page/index.ts
  frontend/src/Routes/index.tsx
  frontend/src/scss/LoginPage.scss
  frontend/src/scss/SignupPage.scss
  frontend/src/scss/base/_base.scss
  frontend/src/scss/component/_easyLogin.scss
  frontend/src/scss/component/_layout.scss
  frontend/src/scss/component/_loginForm.scss
  frontend/src/scss/component/_loginOuterLink.scss
  frontend/src/scss/component/_signupForm.scss
  frontend/yarn.lock
Labels: 🎄 Frontend, 🎨 Design

#12 어바웃페이지 초안 작성 및 간단한 리팩토링
  backend/src/app.ts
  frontend/public/img/Talent.png
  frontend/src/Component/About/Description.tsx
  frontend/src/Component/About/DeveloperCard.tsx
  frontend/src/Component/About/index.tsx
  frontend/src/Component/Chat/ChatDetail.tsx
  frontend/src/Component/Chat/ChatList.tsx
  frontend/src/Component/Chat/index.tsx
  frontend/src/Component/Header/index.tsx
  frontend/src/Component/Main/Filter/TagFilter.tsx
  frontend/src/Component/Main/ShareCard.tsx
  frontend/src/Component/Main/index.tsx
  frontend/src/Page/AboutPage.tsx
  frontend/src/Page/index.ts
  frontend/src/Routes/index.tsx
  frontend/src/Util/ChatType.ts
  frontend/src/Util/Developer.ts
  frontend/src/Util/TempChat.ts
  frontend/src/Util/TempData.ts
  frontend/src/Util/Type.ts
  frontend/src/scss/AboutPage.scss
  frontend/src/scss/ChatPage.scss
  frontend/src/scss/component/_about.scss
Labels: 🎄 Frontend, 🎨 Design, 🔨 Refactor

#13 매인 배너 캐러셀 적용 및 채팅 페이지 개선
  frontend/package.json
  frontend/src/Component/Banner/BannerSlider.tsx
  frontend/src/Component/Banner/index.tsx
  frontend/src/Component/Chat/ChatCard.tsx
  frontend/src/Component/Chat/ChatDetail.tsx
  frontend/src/Component/Chat/ChatList.tsx
  frontend/src/Component/Chat/ChatPerson.tsx
  frontend/src/Component/Chat/index.tsx
  frontend/src/Page/ChatPage.tsx
  frontend/src/Util/Summary.ts
  frontend/src/Util/TempData.ts
  frontend/src/Util/Type.ts
  frontend/src/Util/dateConvert.ts
  frontend/src/Util/summary.ts
  frontend/src/scss/ChatPage.scss
  frontend/src/scss/component/_chatdetail.scss
  frontend/src/scss/component/_chatlist.scss
  frontend/src/scss/component/_mainBanner.scss
  frontend/yarn.lock
Labels: 🎄 Frontend, 🎨 Design, 🔨 Refactor

#15 백엔드 작업환경 설정 및 프론트 데이터 받아오기
  backend/package.json
  backend/src/app.ts
  backend/src/controllers/post.controller.ts
  backend/src/controllers/temp.controller.ts
  backend/src/controllers/user.controller.ts
  backend/src/entities/user.entity.ts
  backend/src/repositories/user.repository.ts
  backend/src/routes/index.ts
  backend/src/routes/post.router.ts
  backend/src/routes/temp-router.ts
  backend/src/routes/temp.router.ts
  backend/src/routes/user.router.ts
  backend/src/types/user-type.ts
  backend/src/utils/temp.data.ts
  frontend/src/Component/Detail/index.tsx
  frontend/src/Component/Main/index.tsx
Labels: 🏠 Backend, 🔥 Chore

#16 게시글과 리덕스 상태 공유
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_requeset.md
  .github/ISSUE_TEMPLATE/feature_request.md
  backend/src/controllers/post.controller.ts
  backend/src/routes/post.router.ts
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/Component/Detail/index.tsx
  frontend/src/Component/Main/ShareCard.tsx
  frontend/src/Component/Main/ShareTab.tsx
  frontend/src/Component/Main/index.tsx
  frontend/src/Store/Action/postAction.ts
  frontend/src/Store/Action/userAction.ts
  frontend/src/Store/Reducer/index.ts
  frontend/src/Store/Reducer/postReducer.ts
  frontend/src/Store/Reducer/userReducer.ts
  frontend/src/Store/index.ts
  frontend/src/Store/type.ts
  frontend/src/Util/Request.ts
  frontend/yarn.lock
Labels: 🎄 Frontend, 🏠 Backend
